.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.login-form h2 {
  font-size: 24px;
  color: #8a4baf; /* Purple theme color */
  margin-bottom: 15px;
}

.login-form form {
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.login-form input {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #8a4baf; /* Purple theme color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5f357e; /* Darker purple on hover */
}
